* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* body{
    background-color: white;
  } */
  
  .my-navbar{
    height: 8vh;
    width: 100%;
    display: flex;
    /* background-color: red; */
    /* border: 2px solid red; */
    
  }
  
  .nav-container{
    display: flex;
    width: 100%;
    /* justify-content: flex-end; */
    
  }
  
  .imagebox{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
  }
  
  .nav-logo{
    width: 80px;
    height: 40px;
    margin: 10px;
  }
  
  .my-nav{
    display: flex;
    width: 85%;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar-nav{
    display: flex;
    list-style: none;
  }
  
  .nav-link{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
  }
  
  .nav-link:hover{
    color:#0d6efd;
  }
  
  .nav-item{
    margin: 0 20px;
    padding: 0 5px;
    text-decoration: none;
  }
  
  
  
  .burger{
    display: none;
    position: relative;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .line{
    width: 33px;
    background-color: black;
    height: 4px;
    margin: 3px 3px;
  }
  
  .signIn{
    margin: auto;
    /* height: 100vh; */
    /* width: 100%; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid red; */
  }
  
  .signInContainer {
    margin: 50px auto;
    width: 36vw;
    height: 63vh;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcomeText{
    font-size: 1.2rem;
  }
  
  .signinForm{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* border: 2px solid black; */
    width: 83%;
    /* align-items: center; */
  
  }
  
  
  
  .signInInput {
    margin: 20px 0 20px 0;
    width: 100%;
    justify-content: center;
    /* border: 2px solid red; */
    align-items: center;
    height: 70px;
  
  }
  
  .input-form{
    display: flex;
    margin: 10px 0;
    padding: 0.375rem 0.75rem;
    width: 85%;
    /* height: 4.6vh; */
    border: 1px solid #ced4da;
    background-clip: padding-box;
    color: #212529;
    font-size: 1rem;
    border-radius: 0.375rem;
    appearance: none;
    
  }

  .rememberMeBox{
    width: 100%;
    display: flex;
    /* border: 2px solid red; */
    /* justify-content: space-between; */
    align-items: center;
  }
  
  .remember-me{
    margin: 10px 0;
    width: 50%;
    display: flex;
    align-items: center;
    /* border: 2px solid blue; */
  }

  .forgetPasswordBox{
    width: 50%;
    display: flex;
    /* border: 2px solid red; */
  }
  
  .signIn {
    width: 80px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .introContainer {
    width: 100%;
    margin: 7rem 0;
    display: flex;
    /* position: relative; */
    /* top: 50px; */
    justify-content: center;
    /* border: 2px solid blue; */
  }
  
  .info {
    display: flex;
    width: 70%;
    /* height: 100%; */
    /* height: 60vh; */
  }
  
  .infoBox {
    display: flex;
    width: 50%;
    height: 50%;
    /* border: 2px solid red; */
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    
  }
  
  .greetingText {
    font-style: oblique;
    font-weight: bold;
  }
  
  .storeName {
    font-size: 2.5em;
    /* font-size: 35px; */
    font-weight: bold;
  }
  
  .storeDescription{
    font-size: 1.1em;
  }
  
  .button {
    width: 6rem;
    height: 2.5rem;
    font-size: 0.95rem;
    background-color: #0d6efd;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
  }
  
  .btnLink {
    width: 6rem;
    text-decoration: none;
    color: white;
  }
  
  .infoImage {
    width: 50%;
    height: 60vh;
    display: flex;
    position: relative;
    /* object-fit: contain; */
    /* border: 2px solid blue; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
  }
  
  .storeImage {
    width:45%;
    height: 60%;
    object-fit: cover;
    position: absolute;
    top: 35px;
    left: 135px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .emptyBox {
    width: 45%;
    height: 60%;
    background-color: #d1e5ff;
    position: absolute;
    left: 185px;
    /* z-index: -1; */
  }
  
  .specialFeatureContainer {
    display: flex;
    width: 100%;
    /* height: 70vh; */
    margin: 40px auto;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .featureCardheader {
    font-weight: 800;
    font-size: 1.4rem;
    margin: 0 0 1.5em 0;
    /* border: 2px solid black; */
  }
  
  .featureCardsContainer {
    display: flex;
    /* border: 2px solid red; */
    width: 75%;
    /* flex-direction: row; */
    justify-content: space-between;
  }
  
  .featureCard{
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 26%;
    display: flex;
    height:90%;
    justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  .featuredimage{
    display: flex;
    height: 100%;
    margin: auto;
    width: 100%;
    /* border: 2px solid blue; */
  }
  
  .featuredimage img{
    object-fit: contain;
    height: 90%;
    width: 90%;
    /* border: 2px solid black; */
    margin: auto;
  }
  
  .card-textuals {
    margin: 0.5rem 0 0.5rem 0;
    /* border: 2px solid yellow; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    align-items: center;
    padding: 5px;
  }
  
  .card-title{
    font-size: 0.9em;
    font-weight:500;
  }
  
  .card-price{
    font-size: 0.7em;
    /* font-weight:500; */
  }
  
  .links {
    text-decoration: none;
    color: black;
  }
  
  .links:hover {
    color:#0d6efd;
    text-decoration: none;
  }
  
  .serviceSection{
    flex-direction: column;
    margin: 110px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .serviceHeader{
    font-weight: 800;
    font-size: 1.4rem;
    /* margin: 0 0 1.5em 0; */
  }
  
  .serviceContainer{
    /* height: 20vh; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
  }
  
  .serviceBoxes{
    width: 20vw;
    /* border: 2px solid blue; */
    /* margin: 10px 40px; */
    margin: 1em 2.7em;
    background-color: #dceaff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  
  .logo{
    margin: 10px;
    /* width: 70px;
    height: 20px; */
    font-size: 1em;
    color: #0d6efd;
  }
  
  .logoName{
    font-size: 0.8em;
    margin: 5px;
  }
  
  .footerContainer{
    width: 100%;
    background-color: #dceaff;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    /* border-top: 2px solid #0d6efd; */
  }
  
  .sectionContainer{
    height: 15vh;
    /* border: 2px solid red; */
    display: flex;
    width: 70%;
    justify-content: space-around;
  }
  
  .section{
    display: flex;
    /* border: 2px solid black; */
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Section-para{
    font-size: 0.9em;
  }

  .contactContainer{
    display: flex;
    flex-direction: column;
    background-color: #dceaff;
  }

  .contactHeader{
    height: 4rem;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logoContainer{
    justify-content: space-around;
    display: flex;
    width: 50%;
    margin:auto;

  }
  

  .logoSection{
    margin-bottom:3rem;
    /* border: 2px solid blue; */
  }

  .logoname{
    font-size: 1rem;
    font-weight: bold;
  }

  .contactsection{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    
  }

  .contactPara{
    margin-top: 0.4rem;
    font-weight: bold;
    font-style: oblique;
  }

  .messageContainer{
    display: flex;
    width: 75%;
    margin: 4rem auto;
  }

  .messageSection1{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    /* border: 2px solid red; */
  }

  .infoBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid blue; */
    height: 80%;
  }

  .messageText{
    font-size: 1.5rem;
    font-weight: bold;
  }

  .messageSection2{
    display: flex;
    width: 50%;
    justify-content:center;
    align-items: center;
    /* border: 2px solid red; */
  }

  .form{
    display: flex;
    flex-direction: column;
  }

  /* .textarea{
    height: 25vh;
  } */
  


  @media screen and (max-width:1000px) {
    .my-navbar-resp{
      height: 135px;
      width: 100%;
      /* transition:all 0.7s ease-out; */
      display: flex;
      
      /* border: 2px solid red; */
    }
    .nav-container-resp{
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      /* z-index: -5; */
      /* border: 2px solid blue; */
      
    }
    
    
    .my-nav-resp{
      /* height: 30vh; */
      display: flex;
      justify-content: center;
      /* opacity: 1; */
      transition:all 1s ease-out;
      /* border: 2px solid red; */
      /* z-index: -4; */

      
    }

    .visibility-resp{
      display: none;
      /* opacity: 0; */
    }

    .navbar-nav-resp{
      flex-direction: column;
      align-items: center;
      /* z-index: -3; */
    }
    
    
    .nav-item-resp{
      /* z-index: -1; */
      margin: 0.2rem;
    }
    
    .burger-resp{
      display: block;
      
    }
    
    .nav-height-resp{
      height: 45px;
      /* transition:all 0.7s ease-out; */
      /* border: 2px solid black; */
      
    }
    
  
    .introContainer{
      /* height: 80vh; */
      width: 100%;
      /* margin: 1em; */
      padding: 0.5em;
      margin-top: 4rem;
      background-color: white;
      /* border: 2px solid red; */
      /* align-items: center; */
      /* justify-content: center; */
    }
  
    .info{
      flex-direction: column-reverse;
      /* justify-content: center; */
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
    }
    
    .infoImage{
      width: 50%;
      /* border: 2px solid yellow; */
      height: 25vh;
      display: flex;
  
    }
  
    .greetingText{
      font-size: 0.88em;
    }
  
    .storeName{
    font-size: 1.8em;
    }
  
    .storeDescription{
      font-size: 1rem;
    }
  
    .button{
      width: 4.2rem;
      height: 2rem;
      font-size: 0.7rem;
    }
  
    .storeImage{
      left: 90px;
      height: 80%;
      top: 20px ;
    }
    
    .emptyBox{
      left: 120px;
      height: 80%;
    }
  
    .infoBox{
      width: 100%;
      display: flex;
      height: 60%;
      /* border: 2px solid black; */
    }
  
    .specialFeatureContainer{
      /* height: 30vh; */
      width: 100%;
      /* border: 2px solid blue; */
      /* margin-top: 140px; */
      margin-top: 4em;
  
    }
  
    .featureCardsContainer{
      /* flex-direction: column; */
      justify-content: space-evenly;
      align-items: center;
      /* height: 100%; */
      width: 100%;
  
    }
  
    .featureCard{
      width: 30%;
      height: 100%;
    }
    
    .card-textuals{
      font-size: 1em;
    }
  
    .card-title{
      font-size: 0.7em;
    }
  
    .card-price{
      font-size: 0.5em;
    }
  
    .serviceContainer{
      margin: 1em 0;
      /* border: 2px solid red; */
    }
  
    .serviceBoxes{
      margin: 1em 1em;
      border-radius: 7px;
      text-align: center;
    }
    
    .logo{
      font-size: 0.6em;
      margin: 7px;
    }
  
    .logoName{
      font-size: 0.5em;
      margin: 3px;
    }
  
    .footerContainer{
      margin: 15px 0 0 0;
    }

  .contactContainer{
    margin-top: 3rem;

  }
    
    .sectionContainer{
      height: 10vh;
      width: 80%;
      /* border: 2px solid red; */
    }
  
    .Section-para{
      font-size: 0.7em;
    }

    .messageContainer{
        flex-direction: column;
        /* border: 2px solid red; */
        justify-content: center;
        align-items: center;
    }

    .messageSection1{
        align-items: center;
        width: 100%;
    }
    
    .messageSection2{
        width: 100%;
        /* align-items: flex-start; */
        justify-content: flex-start;
        /* border: 2px solid blue; */
    }


    /* .textarea{
        height: 25vh;
    } */

    .signInContainer{
        width: 75vw;
        height: 30rem;
        /* justify-content: center; */
    }

    .welcomeText{
        font-size: 0.9rem;
    }

    /* .input-form-resp{
        width: 50vw;
    } */

    .form-input{
      width: 75vw;
    }

    .remember-me{
        font-size: 0.9rem;
    }
    
    .logoSection {
      margin: 0 0.5rem 3rem 0.5rem;
      display: flex;
      /* justify-content: space-evenly; */
      align-items: center;
      flex-direction: column;
      /* border: 2px solid blue; */
    }

    .forgetPassword{
        font-size: 0.9rem;
    }
  
  }

  @media screen and (max-width:550px) {
    .storeImage {
      left: 90px;
      height: 70%;
      top: 50px;
      width: 60%;
      top: 20px;
  }

  .emptyBox {
    left: 120px;
    height: 70%;
    width: 60%;
}
  }
  
  